@import './index.css';

:root{
    --brow1: rgb(133, 65, 65);
    --gold1: rgb(255, 215, 0);
}
.c-brown1{background-color: var(--brow1);}
.text-gold1{color: var(--gold1);}

.loader{
    min-height: calc(100vh - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}